<div class="class container mt-5">
  <h1 class="text text-center">
    Añadir un nuevo cliente
  </h1>
  <div class="container user-icon">
    <img src="../../../assets/user-circle-regular-120.png" alt="">
  </div>

  <form action="" [formGroup]="formClient">
    <div class="row mt-4">
      <div class="col-md-6">
        <label class="text" for="">Nombres:</label>
        <input type="text" class="form-control" formControlName="firstName" placeholder="Ingrese sus nombres...">
      </div>

      <div class="col-md-6">
        <label class="text" for="">Apellidos:</label>
        <input type="text" class="form-control" formControlName="lastName" placeholder="Ingrese sus apellidos...">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <label class="text" for="">Email:</label>
        <input type="emial" class="form-control" formControlName="email" placeholder="Ingrese su email...">
      </div>
      <div class="col-md-4">
        <label class="text" for="">#Documento:</label>
        <input type="number" class="form-control" formControlName="numDocument"  placeholder="Ingrese su número de documento...">
      </div>
      <div class="col-md-2">
        <label class="text" for="">Genero:</label>
        <input type="string" class="form-control" formControlName="gender"  placeholder="Ingrese su genero...">
      </div>
    </div>

  </form>

  <div class="container mt-5" style="display: flex; justify-content: center;">
    <button class="btn btn-success" (click)="saveClient()" [disabled]="formClient.invalid" style="margin-right: 4px;">Agregar cliente</button>
  </div>
</div>
