<div class="container mt-4 mb-4">
  <div class="mb-4">
    <div class="container user-icon">
      <img
        src="../../../assets/user-circle-regular-120.png"
        style="width: auto; height: 100%"
      />
    </div>
    <h1 class="text text-center mt-4">
      {{ clientRquest.firstName }} {{ clientRquest.lastName }}
    </h1>
  </div>

  <div class="container">
    <div class="col-md-12">
      <h4 class="text">Datos Personales</h4>
      <form action="" [formGroup]="formClientDetail">
        <div class="row mt-2">
          <div class="col-md-12">
            <label class="text" for="">Nombres:</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              placeholder="Ingrese sus nombres..."
            />
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <label class="text" for="">Apellidos:</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              placeholder="Ingrese sus apellidos..."
            />
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-8">
            <label class="text" for="">Email:</label>
            <input
              type="emial"
              class="form-control"
              formControlName="email"
              placeholder="Ingrese su email..."
            />
          </div>
          <div class="col-md-4">
            <label class="text" for="">Documento:</label>
            <input
              type="text"
              class="form-control"
              formControlName="document"
              placeholder="Ingrese su email..."
            />
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-8">
            <label class="text" for="">Genero:</label>
            <input
              type="address"
              class="form-control"
              formControlName="gender"
              placeholder="Ingrese su genero..."
            />
          </div>
        </div>
      </form>
    </div>

    <div class="mt-4">
      <button *ngIf="!isEdit" class="btn btn-outline-info" (click)="isEditable()">Editar Cliente</button>
      <button *ngIf="!isEdit" class="btn btn-outline-danger" (click)="delete()">Eliminar Cliente</button>
      <button *ngIf="isEdit" [disabled]="formClientDetail.invalid" style="margin-right: 4px;" (click)="editClient()" class="btn btn-outline-success">Guardar Cambios</button>
      <button *ngIf="isEdit" style="margin-left: 4px;" class="btn btn-outline-dark" (click)="noEditable()">Cancelar</button>
    </div>

  </div>


  <div class="container mt-2" style="display: flex; justify-content: center;">
    <button class="btn btn-primary" routerLink="/clientFind">Buscar otro cliente</button>
  </div>
</div>
